service cloud.firestore {
  match /databases/{database}/documents {

    //Rules

    match /worktimes/{document=**} {
      allow read, delete: if isOwner(currentData().uid);
      allow create: if isSignedIn();
    }

    match /submissions/{document=**} {
      allow read: if isOwner(currentData().uid);
      allow create: if isSignedIn();
    }

    match /users/{document=**} {
      allow read: if isSignedIn();
      allow update: if isOwner(currentData().uid) && validUserData()
    }

		// Functions

    function isSignedIn() {
  		return request.auth != null;
    }

		function isOwner(userId) {
    	return isSignedIn() && request.auth.uid == userId;
    }

    function currentData() {
    	return resource.data;
    }

    function incomingData() {
    	return request.resource.data;
    }

    function validUserData() {
    	return (currentData().uid == incomingData().uid) &&
      (currentData().email == incomingData().email) &&
      (currentData().dayTarget == incomingData().dayTarget) &&
      (currentData().monthTarget == incomingData().monthTarget)
    }
	}
}
