<div class="grid-container">
  <mat-grid-list cols="1" rowHeight="450px">
    <mat-grid-tile>
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            <h1 class="mat-h1">Monthly Detail</h1>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <div *ngFor="let attendance of attendances | async">
            <mat-accordion>
              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-description>
                    {{headerText(attendance)}}
                    {{calculateTotalTime(attendance.timeRecords)}}
                  </mat-panel-description>
                </mat-expansion-panel-header>
                <div *ngFor="let timeRecord of attendance.timeRecords">
                  <div *ngIf="timeRecord.type === workType">
                    <div class="row">
                      <div class="col-md-4 col-sm-4 col-xs-4 timeRecordColumn">FROM:
                        {{timeRecord.from.getHours()}}:{{timeRecord.from.getMinutes()}}
                      </div>
                      <div class="col-md-4 col-sm-4 col-xs-4 timeRecordColumn">TO:
                        {{timeRecord.to.getHours()}}:{{timeRecord.to.getMinutes()}}
                      </div>
                      <div class="col-md-4 col-sm-4 col-xs-4">
                        <button mat-button color="primary">Edit</button>
                      </div>
                    </div>
                  </div>
                </div>
              </mat-expansion-panel>
              <mat-expansion-panel (opened)="panelOpenState = true"
                                   (closed)="panelOpenState = false">
              </mat-expansion-panel>
            </mat-accordion>
          </div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
