<div class="grid-container">
  <mat-grid-list cols="1" rowHeight="450px">
    <mat-grid-tile>
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            <h1 class="mat-h1">Monthly Detail</h1>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <div  *ngFor="let attendance of attendances | async">
            <mat-accordion>
              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-description>
                    {{attendance.day}} {{attendance.date.getDate()}}.{{attendance.date.getMonth()}}.{{attendance.date.getFullYear()}}
                    {{calculateTotalTime(attendance.timeRecords)}}
                  </mat-panel-description>
                </mat-expansion-panel-header>
                <div *ngFor="let timeRecord of attendance.timeRecords">
                  <div *ngIf="timeRecord.type === 'work'">
                    FROM: {{timeRecord.from.getHours()}}:{{timeRecord.from.getMinutes()}}
                    TO: {{timeRecord.to.getHours()}}:{{timeRecord.to.getMinutes()}}
                  </div>
                </div>
                <button mat-button color="primary">Edit</button>
              </mat-expansion-panel>
              <mat-expansion-panel (opened)="panelOpenState = true"
                                   (closed)="panelOpenState = false">
              </mat-expansion-panel>
            </mat-accordion>
          </div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
