.logo {
  width: 230px;
}

.container {
  margin-top: 50px;
}

@page {
  margin: 100px 35px;
  size: letter portrait;

  @top-left {
    content: element(pageHeader);
  }

  @bottom-left {
    content: counter(page) "/" counter(pages);
  }
}

#pageHeader {
  position: running(pageHeader);
}

#pageFooter {
  position: running(pageFooter);
}

tr {
  page-break-inside: avoid;
}

.table-wrapper {
  padding-left: 40px !important;
  padding-right: 40px !important;
}
