<div class="grid-container">
  <mat-grid-list cols="1" rowHeight="fit">
    <mat-grid-tile>
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            <h1 class="mat-h1">{{date}}</h1>
          </mat-card-title>
        </mat-card-header>
        <div>
          <mat-card-content class="dashboard-card-content">
            <div *ngIf="workTime;  else noWorkTime" class="worktimes">
              <span *ngFor="let work of userMonthlyDetailService.workTimesToUpdate; let i = index" class="worktime">
                <span>{{work.type | titlecase}}</span>
                <span>
                    <input type="text" [ngModel]="userMonthlyDetailService.getDate(work.timestamp) | date: 'HH:mm'" #input (keyup)="dateNumberChange(input.value,work)"/>
                    <button type="button" color="primary" mat-raised-button (click)="onDeleteWorkTime(i,workTime)">
                      {{'Delete'}}
                    </button>
                </span>
                <br>
              </span>
            </div>
            <button type="button" color="primary" mat-raised-button (click)="onAddWorkTime()">
              {{'Add'}}
            </button>
            <ng-template #noWorkTime>
              <div>No work times found.</div>
            </ng-template>
            <div>
              <br>
              <button type="button" color="primary" mat-raised-button (click)="onDataSave()">
                {{'Save'}}
              </button>
              <button type="button" color="accent" mat-raised-button>
                {{'Cancel'}}
              </button>
            </div>
          </mat-card-content>
        </div>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
