.grid-container {
  width: 100%;
  height: calc(100vh - 100px);

  .loader {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .centerCol {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .dltButton {
    width: 100px;
    height: 35px;
    margin: 20px;
  }

  mat-card-header {
    display: flex;
    justify-content: center;
    padding-top: 4px;
  }

  mat-grid-list {
    width: 100%;
    height: 100%;
    background: pink;

    .dashboard-card {
      width: 100%;
      height: 100%;

      .dashboard-card-content {
        //text-align: center;

        //wo

        mat-form-field {
          width: 100%;
        }

        mat-expansion-panel {
          .worktime-list {
            line-height: 20px;
          }

          button {
            margin-top: 8px;
          }
        }
      }
    }
  }
}
